<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020777116422-4o0gkvkllt9fd9ggbplk1b8i4mnndupj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020777116422-4o0gkvkllt9fd9ggbplk1b8i4mnndupj</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_GQTUQdIoDBpu7yUDClASrhBlNH3wgM</string>
	<key>GCM_SENDER_ID</key>
	<string>1020777116422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darkhan.MilkyWay</string>
	<key>PROJECT_ID</key>
	<string>milkyway-e457d</string>
	<key>STORAGE_BUCKET</key>
	<string>milkyway-e457d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020777116422:ios:03ecb765a2d1bad7212487</string>
</dict>
</plist>